/* [next]/internal/font/google/asap_condensed_c2ffc108.module.css [app-client] (css) */
@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/b3960f0d437d1a19-s.c033df20.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/9289b36f3556a14e-s.99398948.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/f8ddb1910cac30b6-s.p.a1847a4b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/07bbb19509b9ff30-s.b8fa9394.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/befd949fd4c66d17-s.551f141d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/e660d2e03532ae1d-s.p.350b44e9.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/7144c342772e3744-s.c89c0de9.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/dc1f51561eab9e0a-s.76b4f3e4.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/80e6f870cb901e86-s.p.a82b60d7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/9772c5583b1ca721-s.545b3911.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/8a16136286417f97-s.e16e6e08.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/0f18cf6580178cce-s.p.fda04386.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/0ec7481572d7796d-s.5108cb00.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/4a62d350c496f2d3-s.7fbdfec3.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../media/8ed3f4cc30d0c35b-s.p.2daaf4cc.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../media/b795498fdf7d645f-s.30576c26.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../media/8d5a4f3ae38f5e7c-s.ae69aee6.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Asap Condensed;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../media/4e847fc4704a8abf-s.p.9f66dd65.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Asap Condensed Fallback;
  src: local(Arial);
  ascent-override: 115.02%;
  descent-override: 26.11%;
  line-gap-override: 0.0%;
  size-adjust: 81.2%;
}

.asap_condensed_c2ffc108-module__eYHGwG__className {
  font-family: Asap Condensed, Asap Condensed Fallback;
  font-style: normal;
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_asap_condensed_c2ffc108_module_css_bad6b30c._.single.css.map*/