@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-gray: hsl(0 0% 13%);
  --color-white: #dee5e5;
  --color-primary: #00d060;
  --color-alert: #dd0426;

  --font-anton: 'Anton', sans-serif;
  --font-roboto-flex: 'Roboto Flex', sans-serif;

  --text-h1: clamp(2.5rem, 5vw, 4rem);
  --text-h2: clamp(1.5rem, 3vw, 2.25rem);
  --text-h3: clamp(1.5rem, 3vw, 3rem);
  --text-body: clamp(1rem, 1.5vw, 1.125rem);
  --text-small: clamp(0.875rem, 1vw, 1rem);
  --text-button: clamp(0.9rem, 1vw, 1.1rem);

  --leading-normal: 1.6;

  --tracking-tight: -0.02em;
  --tracking-wide: 0.05em;
}

@layer utilities {
  .font-anton {
    font-family: var(--font-anton);
  }

  .text-h1 {
    font-size: var(--text-h1);
    font-weight: 900;
    line-height: var(--leading-tight);
  }

  .text-h2 {
    font-size: var(--text-h2);
    font-family: var(--font-anton);
    font-weight: 600;
    line-height: var(--leading-tight);
  }

  .text-h3 {
    font-size: var(--text-h3);
    font-weight: 500;
    line-height: var(--leading-tight);
  }

  .text-body {
    font-family: var(--font-roboto-flex);
    font-size: var(--text-body);
    font-weight: 400;
    line-height: var(--leading-normal);
  }

  .text-small {
    font-size: var(--text-small);
    font-weight: 400;
    line-height: var(--leading-normal);
    letter-spacing: 0.02em;
  }

  .text-button {
    font-size: var(--text-button);
    text-transform: uppercase;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00ff6a;
  border-radius: 20px;
  transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #00cc57;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00ff6a transparent;
}

.dark {
  body {
    @apply bg-gray text-white;
  }

  aside {
    @apply bg-gray;
  }

  h2 {
    @apply text-h2 text-white;
  }

  h3 {
    @apply text-white/70;
  }

  p {
    @apply text-white/70;
  }

  a {
    @apply text-white/80;
  }

  select {
    @apply bg-black/10 text-white border-white/10;
  }

  option {
    @apply bg-black/10 text-white;
  }

}

@layer base {
  body {
    @apply bg-white text-body leading-normal text-gray antialiased;
  }

  aside {
    @apply bg-white;
  }

  section {
    @apply h-screen px-10 xl:px-60;
  }

  h1 {
    @apply font-anton text-h1 font-extrabold text-primary;
  }

  h2 {
    @apply text-h2 text-gray;
  }

  h3 {
    @apply text-h3 text-gray/70;
  }

  p {
    @apply p-2 text-center text-body text-gray/70 lg:text-start;
  }
  a {
    @apply text-gray/80 hover:underline;
  }
}

:root {
  --background: #dee5e5;
  --foreground: oklch(0.13 0 0);
  --card: oklch(0.92 0.01 196.80);
  --card-foreground: oklch(0.13 0 0);
  --popover: oklch(0.92 0.01 196.80);
  --popover-foreground: oklch(0.13 0 0);
  --primary: oklch(0.75 0.21 149.85);
  --primary-foreground: oklch(96.416% 0.00011 271.152);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.20 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.56 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.20 0 0);
  --destructive: oklch(0.57 0.23 24.79);
  --border: oklch(0.75 0.21 149.85);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.71 0 0);
  --chart-1: oklch(0.65 0.22 36.85);
  --chart-2: oklch(0.60 0.11 184.15);
  --chart-3: oklch(0.40 0.07 227.18);
  --chart-4: oklch(0.83 0.17 81.03);
  --chart-5: oklch(0.77 0.17 65.36);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.20 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.20 0 0);
  --sidebar-border: oklch(0.92 0 0);
  --sidebar-ring: oklch(0.708 0 0);;  

  --radius: 0.625rem;

  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);

}

.dark {
  --background: hsl(0 0% 13%);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.20 0 0);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.20 0 0);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.75 0.21 149.85);
  --primary-foreground: oklch(0.92 0.01 196.80);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.27 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.57 0.23 24.79);
  --border: oklch(1.00 0 0 / 10%);
  --input: oklch(1.00 0 0 / 15%);
  --ring: oklch(0.56 0 0);
  --chart-1: oklch(0.49 0.24 264.40);
  --chart-2: oklch(0.70 0.16 160.43);
  --chart-3: oklch(0.77 0.17 65.36);
  --chart-4: oklch(0.62 0.26 305.32);
  --chart-5: oklch(0.64 0.25 16.51);
  --sidebar: oklch(0.20 0 0);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.75 0.21 149.85);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.27 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1.00 0 0 / 10%);
  --sidebar-ring: oklch(0.56 0 0);

  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}